[Unit]
Description=Run Q-Tail IP certificate renewal every 12 hours

[Timer]
OnBootSec=15min
OnUnitActiveSec=12h
RandomizedDelaySec=15min
Persistent=true
Unit=qtail-cert-renew.service

[Install]
WantedBy=timers.target
